<main>
  <div class="menu">
    <div class="doc-btn" style="margin-left: 70px; display: flex; align-items: center; justify-content: center">
      <input type="checkbox" id="checkbox" />
      <label for="checkbox" style="margin: 0 0 0 3px">Бланк</label>
    </div>
    <select class="doc-btn" name="" id=""></select>
    <button class="doc-btn" (click)="print()">Печать</button>
    <button class="doc-btn" (click)="downloadFile()">Загрузить</button>
  </div>

  <app-file-viewer></app-file-viewer>
  <iframe src="assets/example.docx" width="100%" height="600px"></iframe>
  <iframe [src]="fileUrl" width="100%" height="600px"></iframe>
  <ckeditor [(ngModel)]="editorData" [config]="{ height: '500px' }"></ckeditor>
</main>
